services:
  mysql:
    image: mysql:8.0
    container_name: loyalty-mysql
    environment:
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-p${MYSQL_ROOT_PASSWORD}"]
      interval: 5s
      timeout: 5s
      retries: 20

  app:
    image: loyalty-os:latest
    container_name: loyalty-app
    depends_on:
      mysql:
        condition: service_healthy
    environment:
      SPRING_DATASOURCE_URL: ${SPRING_DATASOURCE_URL}
      SPRING_DATASOURCE_USERNAME: ${SPRING_DATASOURCE_USERNAME}
      SPRING_DATASOURCE_PASSWORD: ${SPRING_DATASOURCE_PASSWORD}

      # JWT (para que funcione igual que local, pero sin hardcode)
      JWT_SECRET: ${JWT_SECRET:-KJH78SD8F7H34F87SDF87SDF897SF87SD87FSD8F7SD8F7SD87F}
      JWT_EXPIRATION: ${JWT_EXPIRATION:-3600000}
    ports:
      - "8080:8080"

volumes:
  mysql_data: